.paginator{
    margin: 10px;
}
.pageNumber{
    padding: 3px;
    border: 1px solid grey;
   
}
.selectPage {
    padding: 5px;
    font-weight: bold;
    background-color: lightgrey;
    border: 1px solid black;
}
