.dialogs {
    display: grid;
    grid-template-columns: 2fr 10fr;

}
.dialogsItems {
    padding: 10px;

}
.dialog {
    padding: 5px;
}
.messages {
    padding: 10px;
}
.message {
    padding: 5px;
}